<ScrollView class="page">
    <StackLayout>
        <GridLayout columns="110,*" class="top-nav" height="40">
            <Label col="0" text="Home" class="nav-title" horizontalAlignment="left"></Label>
            <FlexboxLayout col="1" flexDirection="row" justifyContent="flex-end" class="nav-actions"
                alignItems="center">
                <Label text="&#xf002;" class="fas"></Label>
                <Label text="&#xf004;" class="far"></Label>
                <Label text="&#xf07a;" class="fas"></Label>
            </FlexboxLayout>
        </GridLayout>

        <GridLayout class="top-ad round-border m-r-20">
            <VideoPlayer src="https://www.dropbox.com/s/wyswosra4btvbs1/real-ad.mp4?raw=1" autoplay="true" fill="true"
                controls="false" muted="true" loop="true"></VideoPlayer>
            <StackLayout horizontalAlignment="left" verticalAlignment="bottom" class="text-container">
                <Label text="New Arrivals" class="attention" textWrap="true"></Label>
                <Label text="Real Madrid" class="text" textWrap="true"></Label>
                <Label text="2019/2020 Home Jersey" class="text"></Label>
            </StackLayout>
        </GridLayout>

        <GridLayout columns="110,*" class="top-details">
            <Label col="0" text="Trending" class="title" horizontalAlignment="left"></Label>
            <Label col="1" text="See Most Purchased Kits &#xf054;" class="action fas"
                horizontalAlignment="right"></Label>
        </GridLayout>
        <ScrollView class="jersey-scroll" height="110" orientation="horizontal">
            <FlexboxLayout height="110" flexDirection="row" justifyContent="flex-start" alignItems="stretch"
                flexWrap="nowrap">
                <ng-container *ngFor="let j of trending">
                    <GridLayout height="110" class="jersey-card round-border" (tap)="chooseClub(0)"
                        [background]="j.background">
                        <Image horizontalAlignment="right" [src]="j.src" class="club-jersey">
                        </Image>
                        <StackLayout class="jersey-card-content" horizontalAlignment="left" verticalAlignment="bottom">
                            <Label [text]="j.name" class="team-name" textWrap="true"></Label>
                            <Label text="Home '19'" class="jersey-name"></Label>
                        </StackLayout>
                    </GridLayout>
                </ng-container>
            </FlexboxLayout>
        </ScrollView>

        <GridLayout columns="110,*" class="top-details">
            <Label col="0" text="Choose By Team" class="title" horizontalAlignment="left"></Label>
            <Label col="1" text="All Teams &#xf054;" class="action fas" horizontalAlignment="right"></Label>
        </GridLayout>
        <ScrollView height="54" orientation="horizontal">
            <FlexboxLayout height="54" flexDirection="row" justifyContent="flex-start" alignItems="stretch"
                flexWrap="nowrap">
                <ng-container *ngFor="let club of byClub; let i = index">
                    <GridLayout height="54" class="small-card round-border" [background]="club.background">
                        <Image horizontalAlignment="center" verticalAlignment="center" [src]="club.src">
                        </Image>
                    </GridLayout>
                </ng-container>
            </FlexboxLayout>
        </ScrollView>

        <GridLayout columns="110,*" class="top-details">
            <Label col="0" text="Choose By Brand" class="title" horizontalAlignment="left"></Label>
            <Label col="1" text="All Brands &#xf054;" class="action fas" horizontalAlignment="right"></Label>
        </GridLayout>
        <ScrollView height="54" orientation="horizontal">
            <FlexboxLayout height="54" flexDirection="row" justifyContent="flex-start" alignItems="stretch"
                flexWrap="nowrap">
                <ng-container
                    *ngFor="let brand of ['adidas','nike','newbalance','ua','fila','lacoste','sketchers','jordan','levis']; let i = index">
                    <GridLayout height="54" class="small-card round-border" backgroundColor="#F2F2F2">
                        <Image horizontalAlignment="center" verticalAlignment="center"
                            src="~/images/brands/{{brand}}.png" (tap)="doTrans(i)"></Image>
                    </GridLayout>
                </ng-container>
            </FlexboxLayout>
        </ScrollView>

        <GridLayout columns="3*,*" class="customize m-r-20">
            <Image col="0" colSpan="2" src="~/images/back-jersey-top.png" stretch="aspectFill"
                horizontalAlignment="right"></Image>
            <GridLayout col="0" colSpan="2" background="rgba(127, 170, 77, 0.8)" class="round-border">
            </GridLayout>
            <Label col="0" text="Customize your own kit from blank" class="title p-t-24 p-b-24 p-l-10"
                horizontalAlignment="left"></Label>
            <Label col="1" text="&#xf054;" class="fas p-t-24 p-b-24 p-r-16 chev-right"
                horizontalAlignment="right"></Label>
        </GridLayout>

    </StackLayout>
</ScrollView>