<ScrollView class="page" iosOverflowSafeArea="false" (swipe)="onCarouselSwipe($event)">
    <StackLayout>
        <GridLayout columns="110,*" class="top-nav" height="40">
            <GridLayout horizontalAlignment="left" verticalAlignment="center" (tap)="goBack()"><Label col="0"
                    text="&#xf053;" class="back fas"></Label></GridLayout>
            <FlexboxLayout col="1" flexDirection="row" justifyContent="flex-end" class="nav-actions"
                alignItems="center">
                <Label text="&#xf004;" class="far"></Label>
                <GridLayout columns="auto">
                    <Label text="&#xf07a;" class="fas"></Label>
                    <Label [@addToCart]="(numInCart$ | async)" [text]="(numInCart$ | async)" id="cart-text"></Label>
                </GridLayout>
            </FlexboxLayout>
        </GridLayout>

        <ng-container *ngIf="(currentKit$ | async) as kit">
            <GridLayout #clubCarouselContent>
                <GridLayout class="card round-border back-and-front" [class.hidden]="0!==currentCarouselIdx">
                    <GridLayout width="325" height="305">
                        <GridLayout width="250" height="250" horizontalAlignment="left" verticalAlignment="top">
                            <Image width="250" height="250" src="{{kit.imgSrcs[0]}}"
                                style="z-index: 98;margin-left: -60;" horizontalAlignment="center"
                                verticalAlignment="top"></Image>
                            <Label text="{{(currentName$ | async) | uppercase}}" class="customName"
                                [color]="(currentKit$ | async).font.color"
                                [ngClass]="(currentKit$ | async).font.nameFontClass"></Label>
                            <Label text="{{(currentNumber$ | async)}}" class="customNumber"
                                [color]="(currentKit$ | async).font.color"
                                [ngClass]="(currentKit$ | async).font.numberFontClass"></Label>
                        </GridLayout>

                        <Image width="250" src="{{kit.imgSrcs[2]}}" horizontalAlignment="right"
                            verticalAlignment="bottom" style="z-index: 100; margin-right: -15;"></Image>
                    </GridLayout>
                </GridLayout>
                <GridLayout class="card round-border" [class.hidden]="1!==currentCarouselIdx">
                    <Image src="{{kit.imgSrcs[2]}}" horizontalAlignment="center"></Image>
                </GridLayout>
                <GridLayout class="card round-border full-back" [class.hidden]="2!==currentCarouselIdx">
                    <Label text="{{(currentName$ | async) | uppercase}}" class="customName"
                        [color]="(currentKit$ | async).font.color"
                        [ngClass]="(currentKit$ | async).font.nameFontClass"></Label>
                    <Label text="{{(currentNumber$ | async)}}" class="customNumber"
                        [color]="(currentKit$ | async).font.color"
                        [ngClass]="(currentKit$ | async).font.numberFontClass"></Label>

                    <Image width="250" height="250" src="{{kit.imgSrcs[0]}}" horizontalAlignment="center">
                    </Image>
                </GridLayout>
            </GridLayout>
        </ng-container>

        <FlexboxLayout class="carousel-dots" flexDirection="row" justifyContent="center" alignItems="center">
            <GridLayout class="carousel-dot" [class.carousel-dot-active]="0==currentCarouselIdx"></GridLayout>
            <GridLayout class="carousel-dot" [class.carousel-dot-active]="1==currentCarouselIdx"></GridLayout>
            <GridLayout class="carousel-dot" [class.carousel-dot-active]="2==currentCarouselIdx"></GridLayout>
        </FlexboxLayout>

        <ng-container *ngIf="(currentKit$ | async) as kit">
            <GridLayout columns="*, *" height="170">
                <StackLayout col="0" class="summary">
                    <Label class="title" text="Club"></Label>
                    <Label class="detail" [text]="(currentClub$ | async).name"></Label>

                    <Label class="title" text="Type"></Label>
                    <Label class="detail" text="{{(currentKit$ | async).name | titlecase}}"></Label>

                    <Label class="title" text="Season"></Label>
                    <Label class="detail" text="{{(currentKit$ | async).year}}"></Label>
                </StackLayout>

                <StackLayout col="1" class="summary">
                    <Label class="title" text="Brand"></Label>
                    <Label class="detail" text="{{(currentKit$ | async).brand}}"></Label>

                    <Label class="title" text="Name and Number"></Label>
                    <Label class="detail" [text]="(currentNumber$ | async) + ' ' + (currentName$ | async)"></Label>

                    <Label class="title" text="Size"></Label>
                    <Label class="detail" text="{{(currentSize$ | async)}}"></Label>
                </StackLayout>
            </GridLayout>
        </ng-container>

        <GridLayout columns="*,*" class="actions">
            <FlexboxLayout col="0" flexDirection="row" justifyContent="center" alignItems="center"
                style="border-right-color: #C4C4C4; border-right-width: 1;" (tap)="onFavTap()" [class.on]="isFav">
                <Label [@fav]="isFav?'on':'off'" text="&#xf004;" width="25" [ngClass]="isFav?'fas':'far'"></Label>
                <Label text="Favorite"></Label>
            </FlexboxLayout>
            <FlexboxLayout col="1" flexDirection="row" justifyContent="center" alignItems="center"
                (tap)="showCustomize()">
                <Label text="&#xf044;" class="far m-r-10"></Label>
                <Label text="Customize"></Label>
            </FlexboxLayout>
        </GridLayout>

        <GridLayout columns="*,*" class="add round-border" (tap)="addToCart()">
            <Label col="0" text="Add to Cart" class="title p-l-10" horizontalAlignment="left"
                verticalAlignment="center"></Label>
            <Label col="1" text="$150" class="p-r-10" horizontalAlignment="right" verticalAlignment="center"></Label>
        </GridLayout>
    </StackLayout>
</ScrollView>