<GridLayout class="gradientWrapper">
    <GridLayout verticalAlignment="top">
        <StackLayout orientation="vertical" class="titleSection">
            <Label textWrap="true" text="Custom" class="title top-part"></Label>
            <Label textWrap="true" text="Kits" class="title bottom-part"></Label>
        </StackLayout>
        <Image #clubLogo horizontalAlignment="right" [src]="currentClub.logo" class="club-logo" width="300">
        </Image>
    </GridLayout>
    <GridLayout #clubCarouselContent class="cardSection" (swipe)="onClubCarouselSwipe($event)">
        <ng-container *ngFor="let club of clubs; let i = index">
            <GridLayout class="pager-item" [class.hidden]="i!==currentClubIdx">
                <GridLayout #cardWrapperView>
                    <GridLayout #fakeCardView class="fake-card"></GridLayout>
                    <GridLayout class="card">
                        <ScrollView #contentView class="scrollSection">
                            <StackLayout class="contentSection">
                                <Label [text]="club.clubName" class="title top-part" textWrap="true"></Label>
                                <Image [src]="club.home.imgSrcs[2]" class="kit-preview" width="300"
                                    horizontalAlignment="left"></Image>
                                <StackLayout class="specs">
                                    <Label text="Available Kits" class="spec-title"></Label>
                                    <Label [text]="availKitsForClub" class="spec-value"></Label>
                                </StackLayout>
                            </StackLayout>
                        </ScrollView>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </ng-container>
    </GridLayout>
</GridLayout>