<GridLayout columns="*,*" height="50" backgroundColor="rgba(57,50,88,0.9)" class="bottomNav">
	<GridLayout #tabHighlight col="0" backgroundColor="#F8A200"></GridLayout>
	<GridLayout col="0" (tap)="selectTab('CLUBCHOOSER')" [ngClass]="{'active': selectedTab === 'CLUBCHOOSER'}">
		<Label #clubChooser text="&#xf0c0;" stretch="none" class="navIcon fas m-x-auto"></Label>
		<Label text="Choose Club" class="navText m-x-auto"></Label>
	</GridLayout>
	<GridLayout col="1" (tap)="selectTab('CUSTOMIZEKIT')" [ngClass]="{'active': selectedTab === 'CUSTOMIZEKIT'}">
		<Label #customizeKit text="&#xf553;" stretch="none" class="navIcon fas m-x-auto"></Label>
		<Label text="Customize" class="navText m-x-auto"></Label>
	</GridLayout>
</GridLayout>