<!-- <GridLayout>
    <ScrollView class="page">
        <StackLayout class="home-panel">
            <Image src="font://&#xf51e;" stretch="none" class="fas"></Image>

            <Label text="cur idx {{currentIndex}}"></Label>

            <StackLayout [@openClose]="isThingOpen()" class="open-close-container">
                <Label text="The box is now {{ isOpen ? 'Open' : 'Closed' }}!" (tap)="toggle()"></Label>
            </StackLayout>

            <button text="Next Kit" (tap)="setKit(1)"></button>

            <FlexboxLayout #kitContainer (swipe)="onSwipe($event)" backgroundColor="yellow" justifyContent="center"
                flexWrap="nowrap">
                <ng-container backgroundColor="lightgray" *ngFor="let src of currentKitImgSrcs; let i = index">
                    <AbsoluteLayout backgroundColor="green" width="400" height="400" *ngIf="isCurrentClubKitIdx(i)">
                        <Label width="400" textAlignment="center" [text]="jerseyName" class="customName" *ngIf="0==i"
                            [color]="currentKitFontColor"></Label>
                        <Image width="400" height="400" class="kit" [src]="src">
                        </Image>
                    </AbsoluteLayout>
                </ng-container>
            </FlexboxLayout>

        </StackLayout>
    </ScrollView>
</GridLayout> -->

<GridLayout #pageView backgroundColor="orange">
    <GridLayout class="gradientWrapper">
        <VideoPlayer src="https://clips.vorwaerts-gmbh.de/big_buck_bunny.mp4" height="100%" autoplay="true" fill="true"
            controls="false" muted="true" loop="true"></VideoPlayer>
        <GridLayout verticalAlignment="top">
            <StackLayout orientation="vertical" class="titleSection">
                <Label textWrap="true" text="The" class="title top-part"></Label>
                <Label #titleView textWrap="true" text="Earth" class="title bottom-part"></Label>
            </StackLayout>
            <Image #planetView src="~/images/cfc-264394/back.jpg" class="planet-image" width="300">
            </Image>
        </GridLayout>
        <GridLayout class="cardSection">
            <GridLayout class="pager-item">
                <GridLayout #cardWrapperView>
                    <GridLayout #fakeCardView class="fake-card"></GridLayout>
                    <GridLayout columns="*,auto" class="card">
                        <ScrollView #contentView col="0" class="scrollSection">
                            <StackLayout class="contentSection">
                                <Label text="Title" class="title top-part"></Label>
                                <Label text="TheModel" class="title bottom-part"></Label>
                                <Label text="excerpt" textWrap="true" class="text"></Label>
                                <StackLayout class="specs">
                                    <Label text="spec.title" class="spec-title"></Label>
                                    <Label text="spec.value" class="spec-value"></Label>
                                </StackLayout>
                                <Label text="info.description" class="text" textWrap="true"></Label>
                            </StackLayout>
                        </ScrollView>
                        <Image #imageView verticalAlignment="top" col="1" src="~/images/cfc-264394/angle.jpg"
                            width="100" class="rocket-image"></Image>
                    </GridLayout>
                </GridLayout>
            </GridLayout>
        </GridLayout>
    </GridLayout>
</GridLayout>